<h2> Our Team </h2>
<div class="text-center">
  <ul class="list-inline">
    <li>
      <%= image_tag "http://placehold.it/150", class: "img-circle" %>
      <h3>Paul</h3>
    </li>
    <li>
      <%= image_tag "http://placehold.it/150", class: "img-circle" %>
      <h3>George</h3>
    </li>
    <li>
      <%= image_tag "http://placehold.it/150", class: "img-circle" %>
      <h3>Ringo</h3>
    </li>
    <li>
      <%= image_tag "http://placehold.it/150", class: "img-circle" %>
      <h3>John</h3>
    </li>
  </ul>
</div>
<br>
<h2 class="text-center">Contact Us</h2>
